In [1]:
import dask.dataframe as dd
import pandas as pd
from collections import OrderedDict

In [2]:
df = dd.read_csv("data/titanic.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
def get_count(data, feat_name):
    # Eureka! I must use compute() to not get back a weird Scalar object!
    return data[feat_name].count().compute()

In [25]:
# No missing values for this feature
get_count(df, "Survived")

891

In [26]:
# Lots of missing values for this feature
get_count(df, "Cabin")

204

In [29]:
def get_count_missing(data, feat_name):
    return data[feat_name].isnull().sum().compute()

In [30]:
get_count_missing(df, "Survived")

0

In [31]:
get_count_missing(df, "Cabin")

687

In [32]:
def get_percent_missing(data, feat_name):
    missing_count = get_count_missing(data, feat_name)
    missing_percent = 100 * missing_count / float(len(data))
    return missing_percent

In [34]:
get_percent_missing(df, "Cabin")

77.104377104377107

In [36]:
100*687/891

77.10437710437711